<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="card w-75">
        <div class="card-body">
          <h3 class="card-title">blk_trace</h3>
          <p class="card-text">blk_trace功能的重实现和可视化--<strong>"event_type":"blk"</strong></p>
          <a href="/blk_trace" class="btn btn-primary">Get result</a>
        </div>
      </div>
      
      <div class="card w-75">
        <div class="card-body">
          <h3 class="card-title">dio_simple</h3>
          <p class="card-text">direct_IO基础检测功能--<strong>"event_type":"dio_simple"</strong></p>
          <a href="/dio_simple" class="btn btn-primary">Get result</a>
        </div>
      </div>

      <div class="card w-75">
        <div class="card-body">
          <h3 class="card-title">dio_info</h3>
          <p class="card-text">direct_IO拓展检测--<strong>"event_type":"dio_info"</strong></p>
          <a href="/dio_info" class="btn btn-primary">Get result</a>
        </div>
      </div>
  </body>
</html>